Antoine Petty <a.petty@ncl.ac.uk> <36314396+antoinepetty@users.noreply.github.com>
Andrew Barrett-Sprot <abarrettsprot@gmail.com> <Adimote@users.noreply.github.com>
Jake Howard <git@theorangeone.net> <RealOrangeOne@users.noreply.github.com>
Jimmy Thompson <jimmy@jimmythompson.co.uk>
Jimmy Thompson <jimmy@jimmythompson.co.uk> <jimmy@freetrade.io>
Peter Law <PeterJCLaw@gmail.com>
