Antoine Petty <github@antoinepetty.co.uk> <36314396+antoinepetty@users.noreply.github.com>
Antoine Petty <github@antoinepetty.co.uk> <a.petty@ncl.ac.uk>
Andrew Barrett-Sprot <abarrettsprot@gmail.com>
Andrew Barrett-Sprot <abarrettsprot@gmail.com> <Adimote@users.noreply.github.com>
Jake Howard <git@theorangeone.net> <6527489+RealOrangeOne@users.noreply.github.com>
Jake Howard <git@theorangeone.net> <RealOrangeOne@users.noreply.github.com>
James Seden Smith <sedders123@gmail.com> <james@river.red>
Jimmy Thompson <jimmy@jimmythompson.co.uk>
Jimmy Thompson <jimmy@jimmythompson.co.uk> <jimmy@freetrade.io>
Karina Kwiatek <kkwiatek@studentrobotics.org> <6197148+raccube@users.noreply.github.com>
Karina Kwiatek <kkwiatek@studentrobotics.org> <kjk@kjk.dog>
Peter Law <PeterJCLaw@gmail.com>
Scarzy <git@scarzybrook.co.uk> <1197791+Scarzy@users.noreply.github.com>
