baseurl: /website
url: https://studentrobotics.org
permalink: /blog/:year-:month-:day-:title/

title: Student Robotics
description: >
  Student Robotics is an exciting annual competition challenging people aged
  16-19 to assemble a team and build fully autonomous robots.

locale: en_GB
page_excerpts: true

markdown: kramdown

collections:
  events:
    output: true
    permalink: /:collection/:path/

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "blog"

# In order to show events that haven't happened yet, we need to turn on future
# mode
future: true

plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-redirect-from

links:
  donate: https://checkout.justgiving.com/yb7fi9snns

timezone: Europe/London

emails:
  teams: teams@studentrobotics.org
  fundraising: fundraising@studentrobotics.org
  volunteers: onboarding@studentrobotics.org
  pr: pr@studentrobotics.org
  info: info@studentrobotics.org
  trustees: trustees@studentrobotics.org

twitter_handle: "@StudentRobotics"
social:
  - title: GitHub
    icon: github
    link: https://github.com/srobo
  - title: Twitter
    icon: twitter
    link: https://twitter.com/studentrobotics
  - title: YouTube
    icon: youtube
    link: https://youtube.com/user/StudentRobotics
  - title: Instagram
    icon: instagram
    link: https://www.instagram.com/student_robotics/
  - title: Facebook
    icon: facebook
    link: https://facebook.com/StudentRobotics
  - title: LinkedIn
    icon: linkedin
    link: https://www.linkedin.com/company/10969472/
  - title: TikTok
    icon: tiktok
    link: https://www.tiktok.com/@studentrobotics

sponsors:
  - name: University of Southampton
    link: //www.southampton.ac.uk/
    image: /images/sponsors/university-of-southampton.svg
    logo_width: default

  - name: Adventurous Machines
    link: https://adventurousmachines.com/?ref=studentrobotics
    image: /images/sponsors/adventurous-machines.svg
    logo_width: default

  - name: Mythic Beasts
    link: https://www.mythic-beasts.com/
    image: /images/sponsors/mythic-beasts.svg
    logo_width: default

  - name: ITDev
    link: https://www.itdev.co.uk/
    image: /images/sponsors/itdev.png
    logo_width: 200px

  - name: Hexibox
    link: https://hexibox-events.co.uk/
    image: /images/sponsors/hexibox.png
    logo_width: default

  - name: UK Electronics Skills Foundation
    link: https://www.ukesf.org/
    image: /images/sponsors/ukesf.svg
    logo_width: 200px

user_tracking: true

show_competition_status: true
competition_status_previous_event: Virtual League

exclude:
  - README.md
  - Rakefile
  - Gemfile
  - Gemfile.lock
  - gems/
  - node_modules/
  - scripts/
  - .idea/
  - .github/
  - .vscode/
  - vendor/

paginate: 3
paginate_path: "/blog/:num/"
