---
layout: page
title: Events
permalink: /events/
---
<div class="header-card">
  <div class="fixed-width">
    <h1>Events</h1>
  </div>
</div>
<div class="main">
  <div class="fixed-width">
    <div class="card thin-card">
      <ul class="event-listing">
          <li class="row event-header">
            <div class="column d-12-12 l-3-12 event-name">Name</div>
            <div class="column d-12-12 l-2-12">Type</div>
            <div class="column d-12-12 l-3-12">Date and time</div>
            <div class="column d-12-12 l-4-12">Location</div>
          </li>
          {% assign sorted = site.events | sort: 'date' %}
          {% for event in sorted reversed %}
          {% if event.date > site.time and event.cancelled != true %}
          <li class="row">
          {% else %}
          <li class="row past-event">
          {% endif %}
            <div class="column d-12-12 l-3-12 event-name">
              <a href="{{ event.url | prepend: site.baseurl }}">{{ event.title }}</a>
            </div>
            <div class="column d-12-12 l-2-12"><span class="tag tag-{{ event.type }}">{{ event.type }}</span></div>
            {% if event.time_tbc %}
              {% assign date_format = '%e %B %Y' %}
            {% else %}
              {% assign date_format = '%e %B %Y at %l%P' %}
            {% endif %}
            <div class="column d-12-12 l-3-12">
              {% if event.cancelled %}
                <s>{{ event.date | date: date_format }}</s>
              {% else %}
                {{ event.date | date: date_format }}
              {% endif %}
            </div>
            <div class="column d-12-12 l-4-12">{{ event.location }}</div>
          </li>
          {% endfor %}
      </ul>
      </div>
  </div>
</div>
