---
layout: page
title: Sponsor Us
permalink: /sponsor/
---
<div class="panel panel-header panel-sponsor">
  <div class="hero-container panel-container">
    <div class="fixed-width">
      <div class="hero-text">
        <h1 class="header">Help us fund the future of Student Robotics</h1>
        {% include donate.html %}
      </div>
    </div>
  </div>
</div>
<div class="panel">
  <div class="panel-container">
    <div class="fixed-width">
      <h2 class="text-center">Become a Sponsor</h2>
      <div class="row text-center">
	<p>
          Student Robotics is looking for new sponsors to help us fulfil our mission.
          The support from our sponsors will make it possible to sustain our programme
          and continue to run free to enter competitions that attract students from
          a wide range of schools and colleges. By partnering with us, you will be
          able to increase your organisation or product awareness with the next
          generation of engineers.
	</p>
	<p>
	 Every year it costs us more than £20,000 to run the competition, and we
	 simply cannot do this without the help of sponsors.
	</p>
      </div>
    </div>
  </div>
</div>
<div class="panel panel">
  <div class="panel-container">
    <div class="fixed-width">
      <h2 class="text-center">Sponsor Levels</h2>
      <div class="row sponsor-level">
        <div class="column s-6-12 sponsor-level-description">
          <h3>Bronze</h3>
          <h4>£500 or more</h4>
          <ul>
            <li>Link and logo on our website</li>
            <li>Company name, logo and brief overview in our competition booklet</li>
            <li>Invite for a representative to attend the competition</li>
          </ul>
        </div>
        <div class="column s-6-12 sponsor-level-image">
          <img src="{{ '/images/advertising/glue-gun.jpg' | prepend: site.baseurl }}" />
        </div>
      </div>
      <div class="row sponsor-level">
        <div class="column s-6-12 sponsor-level-image">
          <img src="{{ '/images/advertising/robot-competing.jpg' | prepend: site.baseurl }}" />
        </div>
        <div class="column s-6-12 sponsor-level-description">
          <h3>Silver</h3>
          <h4>£1,000 or more</h4>
          <ul>
            <li>All the perks of Bronze sponsorship</li>
            <li>Friendly mention on social media</li>
            <li>Logo on a banner at the competition</li>
            <li>An opportunity during the year to present your organisation to our student competitors</li>
          </ul>
        </div>
      </div>
      <div class="row sponsor-level">
        <div class="column s-6-12 sponsor-level-description">
          <h3>Gold</h3>
          <h4>£2,000 or more</h4>
          <ul>
            <li>All the perks of Silver sponsorship</li>
            <li>Logo on the volunteer t-shirts</li>
            <li>Friendly mention and thank you at the competition</li>
            <li>Sponsor an award - put your name to one of our existing awards, or suggest a new award and define the judging criteria*</li>
          </ul>
        </div>
        <div class="column s-6-12 sponsor-level-image">
          <img src="{{ '/images/advertising/team-coding.jpg' | prepend: site.baseurl }}" />
        </div>
      </div>
      <div class="row sponsor-level">
        <div class="column s-6-12 sponsor-level-image">
          <img src="{{ '/images/advertising/team-in-arena.jpg' | prepend: site.baseurl }}" />
        </div>
        <div class="column s-6-12 sponsor-level-description">
          <h3>Platinum</h3>
          <h4>£10,000 or more</h4>
            <ul>
              <li>All the perks of Gold sponsorship</li>
              <li>Dedicated space at the competition</li>
              <li>Set a challenge for teams, and declare the winner at the competition**</li>
              <li>Short (~5 min.) pre-recorded presentation at the start of the competition, to talk about your company and set your challenge, and a short in-person presentation on the final weekend to announce the winner</li>
            </ul>
        </div>
      </div>
      <p style="margin-top: 1rem; text-align: center;">
        If there is anything not mentioned we can offer you or you would be interested in?? Get in touch!
      </p>
      <p style="margin-top: 1rem;">
        Please register to become a sponsor, and to help shape the future of these young engineers.
            <img src="{{ '/images/advertising/sad-robot.jpg' | prepend: site.baseurl }}" />
      </p>
    </div>
  </div>
</div>
<div class="panel">
  <div class="panel-container">
    <div class="fixed-width text-center">
      <a name="signup"></a><h2>Want to sponsor us?</h2>
      <div class="column m-8-12 m-offset-2-12 text-left">
        <p>
          Please fill in the form below to and we will get in touch with you soon!
        </p>
        <!--TODO: Create sponsor sign up form-->
        {% include sponsor-signup.html %}
      </div>
    </div>
  </div>
</div>
<!--TODO: Update the FAQ to be about sponsorhip-->
<div class="panel">
  <div class="panel-container">
    <div class="fixed-width">
      <a name="faq"></a><h2 class="text-center">Frequently Asked Questions</h2>
      <div class="row">
        <div class="column m-6-12">
          <p class="question">Who can sponsor?</p>
          <p>
	    Any individual or organisation is able to sponsor Student Robotics.
          </p>
          <p class="question">Why do we need sponsors</p>
          <p>
            We do not charge the teams in order to enter the competition.
	    However there are still costs associated in running the competition
	    , and as such we depend upon commercial sponsors in order to keep
	    running. Additionally, the robotics kits that are loaned to teams
	    require ongoing maintenance and repairs. Thanks to our sponsors we
	    are able to continue to offer this at no cost to the competitors.
	  </p>
          <p class="question">Can I add Gift Aid to my donation?</p>
          <p>
            If you are a UK tax payer and eligible to give Gift Aid then you
	    can add Gift Aid to your donation. Please donate through the
	    JustGiving link above and tick the Gift Aid box.
          </p>
          <p class="question">How does sponsoring an award work?</p>
          <p>
	    Each year we present 5 awards to teams based on their involvement
	    throughout the year, and not based on the competition winners.
	    Details of these awards can be found in the current rulebook.
	    By sponsoring one of these awards we will add your company name and
	    logo onto to trophy, and announce your company name when presenting
	    the award.
	  </p>
	  <p>
	    If you wish to suggest a new award, please e-mail us using the form
	    below and we can discuss options.
          </p>
        </div>
        <div class="column m-6-12">
          <p class="question">How can I donate?</p>
          <p>
	    There are 2 options for donating;
          <p>
          </p>
	    1) you can use the JustGiving link above. This will also allow you
	    to add Gift Aid. If you wish to be recognised as a Bronze, Silver,
	    Gold, or Platinum sponsor please also contact us using the above
	    form so we can easily identify your donation.
          <p>
          </p>
	    2) contact us using the above form and we can provide details for a
	    bank transfer.
          </p>
          <p class="question">How much can I sponsor?</p>
          <p>
            Any amount of sponsorship is welcome! No matter how small, several
	    small donations from multiple donors do add up and can make a big
	    difference.
          <p>
          </p>
	    However, unless you exceed the £500 for Bronze level sponsorship we
	    are unable to do anything to directly recognise your donation.
          </p>
          <p class="question">How does setting a challenge work?</p>
          <p>
            You record a 5 minute video introducing yourself and describing the
	    challenge, and provide a written description to be included in the
	    rulebook. The video and rules will be released at the Kickstart
	    event at the beginning of the competition and available online
	    throughout the year.
	  </p>
	  <p>
	    At the end of the competition the winner will be decided and
	    announced. A representative of your company will be invited to help
	    decide the winners and to present the award. The winner will
	    ultimately be decided by Student Robotics, guided by your
	    representative's input.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
