$sr-blue:        rgba(36, 51, 115, 1);
$sr-orange:      rgba(222, 100, 0, 1);
$sr-green:       rgba(38, 115, 38, 1);
$sr-purple:      rgba(83, 83, 198, 1);

$sr-white:       rgba(255, 255, 255, 1);
$sr-light-grey:  rgba(245, 243, 244, 1);
$sr-medium-grey: rgba(224, 224, 224, 1);
$sr-dark-grey:   rgba(76, 76, 76, 1);
$sr-black:       rgba(27, 29, 31, 1);

$focus-yellow:   rgba(255, 191, 71, 1);
