$sr-blue:        rgba(36, 51, 115, 1);
$sr-orange:      rgba(222, 100, 0, 1);
$sr-green:       rgba(38, 115, 38, 1);
$sr-purple:      rgba(83, 83, 198, 1);
$sr-grey:        rgba(245, 243, 244, 1);
$sr-light-grey:  $sr-grey;
$sr-medium-grey: rgba(224, 224, 224, 1);
$sr-black:       rgba(27, 29, 31, 1);
$sr-dark-grey:   rgba(123, 122, 122, 1);
$sr-white:       white;

$focus-yellow:   rgba(255, 191, 71, 1);
