@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

$heading-font-family: 'Oswald', sans-serif;
$main-font-family: 'Open Sans', Arial, sans-serif;