version: 2

jobs:
  validate:
    docker:
    - image: circleci/ruby:2.7

    steps:
      - checkout

      - run:
          name: Install gems
          # Changing this? Also change the README and the other use here (below)
          command: gem install bundler rake

      - run: rake build

      - run: rake validate


workflows:
  version: 2
  workflow:
    jobs:
      - validate
