version: 2

jobs:
  build_only:
    docker: &docker-template
    - image: circleci/ruby:2.5

    steps:
      - checkout
      - setup_remote_docker

      - run:
          name: Install gems
          # Changing this? Also change the README and the other use here (below)
          command: gem install 'bundler:~>1' rake
      - run: docker info
      - run: rake build

  build_and_release:
    docker: *docker-template

    steps:
      - checkout
      - setup_remote_docker
      - add_ssh_keys:
          fingerprints:
              - "64:8d:88:1b:12:06:6f:db:40:e2:f9:1a:10:e4:4f:08"

      - run:
          name: Install gems
          # Changing this? Also change the README and the other use here (above)
          command: gem install 'bundler:~>1' rake
      - run: docker info
      - run: rake build

      - run:
          name: Push Docker image
          command: |
            docker login -u $DOCKER_USER -p $DOCKER_PASS
            rake deploy

      - deploy:
          name: Deploy to Github Pages
          command: ./.circleci/deploy.sh


workflows:
  version: 2
  workflow:
    jobs:
      - build_only:
          filters:
            branches:
              ignore: master
      - build_and_release:
          filters:
            branches:
              only: master
