<footer class="site-footer">
  <div class="row fixed-width">
    <div class="column d-4-12 m-2-12">
      <h4>For Competitors</h4>
      <ul class="sitemap">
        <li><a href="/ide/">IDE</a></li>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/forum/">Forums</a></li>
      </ul>
    </div>
    <div class="column d-4-12 m-2-12">
      <h4>Student Robotics</h4>
      <ul class="sitemap">
        <li><a href="{{ '/about/' | prepend:site.baseurl }}">About Us</a></li>
        <li><a href="{{ '/compete/' | prepend:site.baseurl }}">Compete</a></li>
        <li><a href="{{ '/volunteer/' | prepend:site.baseurl }}">Volunteer</a></li>
      </ul>
    </div>
    <div class="column d-4-12 m-2-12">
      <h4>&nbsp;</h4>
      <ul class="sitemap">
        <li><a href="{{ '/news/' | prepend:site.baseurl }}">News</a></li>
        <li><a href="{{ '/events/' | prepend:site.baseurl }}">Events</a></li>
        <li><a href="{{ '/contact/' | prepend:site.baseurl }}">Contact us</a></li>
      </ul>
    </div>
  </div>
  <div class="row fixed-width">
    <div class="column d-6-12">
      <p>&copy; Student Robotics 2011 - {{ site.time | date: '%Y' }}</p>
      <p>Registered charity in England and Wales, number 1163168</p>
      <p>&nbsp;</p>
      <p>
        The fantastic background photos come from
        <a href="//www.flickr.com/photos/richardpbarlow/">Richard Barlow</a>,
        <a href="//www.flickr.com/photos/theorangeone/">Jake Howard</a>, and
        <a href="http://www.headington.org/">Headington School Oxford</a>.
      </p>
    </div>
    <div class="column d-6-12 text-right">
      <ul class="social-media-links">
        {% for account in site.social %}
        <li><a href="{{ account[1] }}"><i class="fa fa-{{ account[0] }}" aria-hidden="true"></i></a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</footer>
