<footer class="site-footer">
  <div class="row fixed-width">
    <div class="column d-4-12 m-2-12">
      <h4>For Competitors</h4>
      <ul class="sitemap">
        <li><a href="{{ '/teams/' | prepend: site.baseurl }}">Teams Dashboard</a></li>
        <li><a href="/ide/">IDE</a></li>
        <li><a href="/docs/">Documentation</a></li>
      </ul>
    </div>
    <div class="column d-4-12 m-2-12">
      <h4>Student Robotics</h4>
      <ul class="sitemap">
        <li><a href="{{ '/compete/' | prepend:site.baseurl }}">Compete</a></li>
        <li><a href="{{ '/volunteer/' | prepend:site.baseurl }}">Volunteer</a></li>
        <li><a href="{{ '/sponsor/' | prepend:site.baseurl }}">Sponsor</a></li>
      </ul>
    </div>
    <div class="column d-4-12 m-2-12">
      <h4>&nbsp;</h4>
      <ul class="sitemap">
        <li><a href="{{ '/blog/' | prepend:site.baseurl }}">Blog</a></li>
        <li><a href="{{ '/events/' | prepend:site.baseurl }}">Events</a></li>
        <li><a href="{{ '/contact/' | prepend:site.baseurl }}">Contact us</a></li>
      </ul>
    </div>
  </div>
  <div class="row fixed-width">
    <div class="column d-6-12">
      <p>&copy; Student Robotics 2011 - {{ site.time | date: '%Y' }}</p>
      <p>Registered charity in England and Wales, number 1163168</p>
      <p>&nbsp;</p>
      <p>
        The fantastic photos come from
        <a href="//www.flickr.com/photos/richardpbarlow/">Richard Barlow</a>,
        <a href="//www.flickr.com/photos/howiegoing/">Howard Buck</a>,
        <a href="//www.flickr.com/photos/theorangeone/">Jake Howard</a>,
        Anton Nikitin,
        Antoine Petty, and
        <a href="http://www.headington.org/">Headington School Oxford</a>.
      </p>
    </div>
    <div class="column d-6-12 text-right">
      <ul class="social-media-links">
        {% for account in site.social %}
        <li><a href="{{ account.link }}"><i class="fa fa-{{ account.icon }}" aria-hidden="true"
              title="{{ account.title }}"></i></a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</footer>
