{% assign pageurl = page.url | absolute_url | cgi_escape %}
{% include get_description_for_page.html %}

<div class="social-share">
  <span>Share on: </span>
  <div class="social-share-links">
      <a class="facebook" title="Share this on Facebook" href="https://www.facebook.com/sharer.php?u={{ pageurl }}" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
      <a class="twitter" title="Share this on Twitter" href="https://twitter.com/intent/tweet?url={{ pageurl }}&text={{ page.title | cgi_escape }}" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitter"></i></a>
      <a class="linkedin" title="Share this on Linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ pageurl }}" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
      <a class="mail" title="Share this through Email" href="mailto:?to=%20&subject={{ page.title | cgi_escape | replace: '+', '%20' }}&body={{ description | cgi_escape | replace: '+', '%20' }}%0D%0A%0D%0A{{ pageurl }}" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-envelope"></i></a>
  </div>
</div>
