<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://studentrobotics.us12.list-manage.com/subscribe/post?u=1af17c2a3426de258620aae46&amp;id=dd7d04139d"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="form form-left show-labels validate"
      target="_blank"
      novalidate>
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address </label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      </div>
      <div class="mc-field-group">
     <label for="mce-FNAME">First Name </label>
     <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
      </div>
      <div class="mc-field-group">
     <label for="mce-LNAME">Last Name </label>
     <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
      </div>
      <div class="mc-field-group size1of2">
     <label for="mce-MMERGE3">Phone number </label>
     <input type="text" name="MMERGE3" class="" value="" id="mce-MMERGE3">
      </div>
    <div class="mc-field-group">
    <label for="mce-MMERGE4">Organisation </label>
        <p class="explanation">If your team represents a school, or another organisation, enter its name here.</p>
    <input type="text" value="" name="MMERGE4" class="" id="mce-MMERGE4">
    </div>
    <div class="mc-field-group">
    <label for="mce-MMERGE5">Number of team members </label>
    <input type="text" value="" name="MMERGE5" class="" id="mce-MMERGE5">
    </div>
    <div class="mc-field-group">
    <label for="mce-MMERGE6">Address </label>
    <input type="text" value="" name="MMERGE6" class="" id="mce-MMERGE6">
    </div>
    <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
    <div class="content__gdpr">
        <label>Contact Permissions</label>
        <p>Student Robotics will use the information you provide on this form to be in touch with you and to provide updates. Please confirm you would like to hear from us by email:</p>
        <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
        <label class="checkbox subfield" for="gdpr_6893"><input type="checkbox" id="gdpr_6893" name="gdpr[6893]" value="Y" class="av-checkbox "><span>I Confirm</span> </label>
        </fieldset>
        <p>You can change your mind at any time by clicking the unsubscribe link in the footer of any email you receive from us, or by contacting us at info@studentrobotics.org. We will treat your information with respect. For more information about our privacy practices please visit our website. By clicking below, you agree that we may process your information in accordance with these terms.</p>
    </div>
    <div class="content__gdprLegal">
        <p>We use MailChimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to MailChimp for processing. Learn more about MailChimp's privacy practices <a href="https://mailchimp.com/legal/" target="_blank">here</a>.</p>
    </div>
</div>
    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1af17c2a3426de258620aae46_dd7d04139d" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button-primary"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
