<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="https://studentrobotics.us12.list-manage.com/subscribe/post?u=1af17c2a3426de258620aae46&amp;id=220e1d8952"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate form form-left show-labels validate"
      target="_blank"
      novalidate>
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address</label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
            <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
              <div class="content__gdpr">
                <label>Contact Permissions</label>
                <p>Student Robotics will use the information you provide on this form to be in touch with you and to provide updates and volunteering opportunities. Please confirm that you would like to hear from us by Email:</p>
                <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
                  <label class="checkbox subfield" for="gdpr_6905"><input type="checkbox" id="gdpr_6905" name="gdpr[6905]" value="Y" class="av-checkbox "><span>I Confirm</span> </label>                </fieldset>
                <p>You can change your mind at any time by clicking the unsubscribe link in the footer of any email you receive from us, or by contacting us at info@studentrobotics.org. We will treat your information with respect. For more
                  information about our privacy practices please visit our website. By clicking below, you agree that we may process your information in accordance with these terms.</p>
              </div>
              <div class="content__gdprLegal">
                <p>We use MailChimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to MailChimp for processing. Learn more about MailChimp's privacy practices <a href="https://mailchimp.com/legal/" target="_blank">here</a>.</p>
              </div>
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1af17c2a3426de258620aae46_220e1d8952" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button-primary"></div>
              </div>
  </form>
</div>

<!--End mc_embed_signup-->
