<form action="//studentrobotics.us12.list-manage.com/subscribe/post?u=1af17c2a3426de258620aae46&amp;id=220e1d8952"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="form validate"
      target="_blank" novalidate>
  <div id="mc_embed_signup_scroll">
    <div class="mc-field-group">
      <label for="mce-EMAIL">Email Address </label>
      <input type="email" value="" name="EMAIL" class="full-width required email" id="mce-EMAIL" placeholder="Enter your email address">
    </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_1af17c2a3426de258620aae46_220e1d8952" tabindex="-1" value="">
    </div>
    <div class="clear">
      <input class="button button-primary" type="submit" value="Sign up to volunteer" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
  </div>
</form>
