@import "colors";
@import "grid";

.card {
  border-top: 2px solid white;
  background: white;
  padding: 0.8em $spacing;
  margin-bottom: $spacing;
}

.highlight-card {
  border-top-color: $sr-blue;
}
