@import "colors";
@import "grid";

@mixin gradient-background($top, $bottom, $image) {
  background: linear-gradient($top, $bottom), url($image) center center no-repeat;
  background-size: cover;
}

.fixed-width {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;

  @include media-query(medium) {
    padding: 0;
  }
}

.sidebar, main {
  @extend .row;
}

.content {
  @extend .row;
  background: $sr-grey;
  padding: 1em 1em 3em;

  @include media-query("large") {
    padding: 1em 0 3em;
  }
}