@import "colors";
@import "grid";

@mixin gradient-background($top, $bottom, $image) {
  background: linear-gradient($top, $bottom), url($image) center center no-repeat;
  background-size: cover;
}

.fixed-width {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;

  @include media-query("medium") {
    padding: 0;
  }
}

.sidebar, main {
  @extend .row;
}

.text-right {
  text-align: right;
}
