@import "colors";
@import "grid";

.fixed-width {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;

  @include media-query(medium) {
    padding: 0;
  }
}

.sidebar, main {
  @extend .row;
}

.content {
  @extend .row;
  padding: 0 1em 3em;

  @include media-query("large") {
    padding: 0 0 3em;
  }
}