@import "colors";

$footer-background: $sr-dark-grey;
$footer-color: rgb(185, 189, 193);

footer {
  @extend .row;
  background: $footer-background;
  color: $footer-color;
  font-size: 0.8em;
  padding: 2em 0;
}

.text-right {
  text-align: right;
}