$column-count: 12;

.row {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@for $i from 1 through $column-count {
  .col-#{$i}-#{$column-count} {
    $gutter-width: (($i / $column-count) * 2.5%);
    box-sizing: border-box;
    width: ($i / $column-count * 100%);
    float: left;
    padding-left: $gutter-width;
    padding-right: $gutter-width;
  }
}

