$column-count: 12;
$breakpoints: (
        small: 767px,
        medium: 992px,
        large: 1200px
);

@mixin media-query($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}

@mixin column($numerator, $denominator) {
  $gutter-width: (($numerator / $denominator) * 2.5%);
  box-sizing: border-box;
  width: ($numerator / $denominator * 100%);
  float: left;
  padding-left: $gutter-width;
  padding-right: $gutter-width;
}

.row {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@for $i from 1 through $column-count {
  .d-#{$i}-#{$column-count} {
    @include column($i, $column-count);
  }

  .s-#{$i}-#{$column-count} {
    @include media-query("small") {
      @include column($i, $column-count);
    }
  }

  .m-#{$i}-#{$column-count} {
    @include media-query("medium") {
      @include column($i, $column-count);
    }
  }

  .l-#{$i}-#{$column-count} {
    @include media-query("large") {
      @include column($i, $column-count);
    }
  }
}


