@import "colors";
@import "fonts";

@mixin headings($from: 1, $to: 6) {
  @for $i from $from through $to {
    h#{$i} {
      @content
    }
  }
}

h1 {
  font-size: 3em;
}

@include headings() {
  color: $sr-blue;
  font-family: $heading-font-family;
  font-weight: 300;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
