.site-header {
  background: white;
  overflow: hidden;
  padding: 0 $spacing;
}

.logo {
  width: auto;
  height: 60px;
  vertical-align: middle;
}

.site-title {
  color: black;
  padding: 2px 0;
  font-family: $heading-font-family;
  font-weight: 400;
  float: left;
  font-size: 2.6em;
  text-decoration: none;
}
