@import url("https://fonts.googleapis.com/css?family=Jura:400,300");
@import "colors";

$header-background: white;

header.site-header {
  background: $header-background;
  overflow: hidden;
}

img.logo {
  width: auto;
  height: 60px;
  vertical-align: middle;
}

a.site-title {
  color: black;
  padding: 10px 0;
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  float: left;
  font-size: 2.8em;
  text-decoration: none;
}
