@import "headers";
@import "common";

$blue-top-colour: transparentize($sr-blue, 0.05);
$blue-bottom-colour: transparentize($sr-blue, 0.2);

.header {
  text-align: center;
}

.panel {
  background-color: white;
  padding: 2em 0;
  text-align: center;

  img {
    background-color: white;
    border: 1px solid $sr-grey;
    border-radius: 2px;
    padding: 5px;
  }

  &:nth-of-type(even) {
    background: $sr-grey;
  }
}

.panel-header {
  color: $sr-white;

  @include headings() {
    color: $sr-white;
  }
}

.panel-blueshirts {
  @include gradient-background($blue-top-colour, $blue-bottom-colour, "/srobo-prototype/images/blueshirts.jpg");
}

.panel-boxes {
  @include gradient-background($blue-top-colour, $blue-bottom-colour, "/srobo-prototype/images/boxes.jpg");
}


.panel-container {
  display: flex;
  min-height: 18em;
  align-items: center;
}