$breakpoints: (
        small: 767px,
        medium: 992px,
        large: 1200px
);


@mixin media-query($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}