.avatar {
  img {
    background-color: $sr-white;
    border: 1px solid darken($sr-light-grey, 10%);
    width: 100%;
    height: auto;
    padding: 3px;
  }

  p {
    font-size: $foxtrot;
    color: #333333;
  }
}

.testomonial-avatar {
  border-radius: 50%;
  width: 15rem;
  @include media-query("medium") {
    width: 100%;
  }
}
