.article-main {
  background: $sr-white;
}

.article {
  overflow: hidden;

  h2 {
    font-size: $beta;
    margin: $charlie 0;
  }

  h3 {
    font-size: $charlie;
    margin: $delta 0;
  }

  blockquote {
    position: relative;
    font-size: 1.1em;
    font-style: italic;
    padding: 0 20px 0 80px;
    quotes: "\201C" "\201D" "\2018" "\2019";

    &:before {
      position: absolute;
      left: 20px;
      top: 30px;
      content: "\201C";
      font-size: 2em;
      font-weight: bold;
      line-height: 0.1em;
    }

    @media (max-width: 800px) {
      padding: 0 20px;

      &:before {
        display: none;
      }
    }

    p {
      color: lighten($sr-black, 40%);
      display: inline;
    }
  }

  img {
    margin: 0;
  }

  iframe.video {
    background: white;
    border: 1px solid silver;
    padding: 3px;

    @include media-query('medium') {
      min-height: 480px;
    }
  }

  ul, ol {
    margin: 1.2em 0 1.2em 40px;

    li {
      margin: 0.8em 0;
    }
  }

  .has-explanation {
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

.article-content {
  p, ul, ol {
    color: $sr-black;
    font-size: $echo;
    line-height: 160%;
    margin-top: $echo;
    margin-bottom: $echo;
  }
}

.article-info {
  display: block;
  color: #9e9e9e;
  font-size: $foxtrot;
  margin: 0;
}

.article-header {
  margin-bottom: 1em;

  h1 {
    font-size: $alpha;
    line-height: normal;
    margin: 0;
  }
}

.article-preview {
  .article-header {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid $sr-light-grey;

    h1 {
      font-size: 1.5rem;
    }
  }

  .article-info {
    font-size: $golf;
  }

  .article-content {
    p, ul, ol {
      font-size: $foxtrot;
      line-height: normal;
      margin-top: $foxtrot;
      margin-bottom: $foxtrot;
    }

    h2 {
      font-size: $charlie;
      margin: $delta 0;
    }

    h3 {
      font-size: $delta;
      margin: $echo 0;
    }
  }
}

table {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 40%;

  @include media-query("medium") {
    width: auto;
  }

  th, td {
    padding: 0.5em;
  }

  thead {
    color: $sr-blue;
  }

  th {
    text-align: left;
    border-bottom: 2px solid $sr-blue;
  }

  tr {
    background: white;

    &:nth-child(even) {
      background: $sr-light-grey;
    }
  }
}

figure {
  img {
    border-radius: 3px;
    background-color: $sr-white;
    border: 1px solid darken($sr-light-grey, 10%);
    padding: 3px;
  }

  &.spaced-figure-non-bold-caption {
    figcaption {
      font-weight: normal;
      font-size: 1em;
    }

    margin-bottom: 1.5rem;
    &:last-of-type{
      margin-bottom: 0;
    }
  }

}

figcaption {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
}

.small-image {
  height: auto;
  margin: 1.2em 0;
  width: 100%;

  @include media-query("medium") {
    width: 40%;
  }
}

.left {
  @extend .small-image;
  float: left;
  margin-right: 20px;
}

.right {
  @extend .small-image;
  clear: right;
  float: right;
  margin-left: 20px;
}

.footnotes ol {
  list-style: none;
}

.blog-post-list {
  font-size: $foxtrot;

  li {
    margin-bottom: .3rem;
  }
}

.social-share {
  margin-top: 1rem;
  .social-share-links {
    a {
      color: $sr-blue;
      margin-right: 0.5rem;

      &:first-of-type{
        margin-left: 0.25rem;
      }
      &:last-of-type {
        margin-right: 0;
      }
      &:hover {
        i {
          color: $sr-orange;
        }
      }
      &:visited {
        color: $sr-blue;
      }
      &:active, &:focus {
        outline: none;
      }
    }
    display: inline-block;
    vertical-align: middle;
    font-size: 1.25rem;
  }
}
