@mixin gradient-background($top, $bottom, $image) {
  background: linear-gradient($top, $bottom), url($image) center center no-repeat;
  background-size: cover;
}

.fixed-width {
  @include media-query("medium") {
    width: 960px;
  }

  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.sidebar, main {
  @extend .row;
}

.question {
  font-weight: bold;
}

.header-card {
  background: $sr-blue;
  padding: $spacing;

  @include media-query("medium") {
    padding: $spacing 0;
  }

  h1 {
    font-family: $hero-font-family;
    color: $sr-white;
    margin-bottom: 0;
    margin-right: auto;
  }

  .fixed-width {
    display: flex;
    align-items: center;
  }

  a.header-link-icon {
    font-size: $beta;
    color: $sr-white;
  }
}

.top-spacing {
  margin-top: 16px;
}

.bottom-spacing {
  margin-bottom: 16px;
}

.donate-button {
  img {
    width: initial;
  }
}


.vertically-centered-row {
  @include media-query("medium") {
    display: flex;
    align-items: center;
  }
  column-gap: 1rem;
}

.horizontally-centered-column {
  display: flex;
  justify-content: center;
}
