.error-container {
  border: 1px solid $sr-light-grey;
}

.error-flair {
  background: $sr-light-grey;
  padding: 2em 0 .5em 2em;
}

.error-box {
  padding: .5em 2em 2em;

  p {
    margin: 1.2em 0;
  }

  ul {
    list-style-position: inside;
  }
}
