$event-spacer-color: lighten(black, 70%);

.event-list {
  list-style: none;
}

.event {
  border-bottom: 1px dotted $event-spacer-color;
  padding: 10px 0;

  &:last-of-type {
    border-bottom: none;
  }
}

.event-name {
  display: block;
  margin-bottom: 0.4em;
}

p.event-name {
  font-weight: bold;
}

.event-details {
  font-size: 0.8em;
  margin: 0;
  text-overflow: ellipsis;
}

ul.event-listing {
  font-size: $foxtrot;
  width: 100%;

  li {
    border-bottom: 1px solid $sr-medium-grey;
    display: block;
    padding: 1.5em 1em;

    &.event-header {
      border-bottom: 2px solid $sr-blue;
      border-top: 0;
      font-weight: bold;
    }

    &:last-of-type {
      border-bottom: 0;
    }
  }

  .event-name {
    font-weight: bold;
    margin: 0;
  }
}

.past-event {
  opacity: 0.5;
}

.tag.tag-meetup {
  background: $sr-purple;
}

.tag.tag-techday {
  background: $sr-green;
}

.tag.tag-competition, .tag.tag-kickstart {
  background: $sr-orange;
}

.muted {
  opacity: 70%;
}
