$event-spacer-color: lighten(black, 70%);

.event-list {
  list-style: none;
}

.event {
  border-bottom: 1px dotted $event-spacer-color;
  padding: 10px 0;

  &:last-of-type {
    border-bottom: none;
  }
}

.event-name {
  display: block;
  margin-bottom: 0.4em;
}

p.event-name {
  font-weight: bold;
}

.event-details {
  font-size: 0.8em;
  margin: 0;
  text-overflow: ellipsis;
}
