@import "common";

$footer-background: $sr-black;
$footer-color: rgb(185, 189, 193);

footer {
  @extend .row;
  background: $footer-background;
  color: $footer-color;
  font-size: $golf;
  padding: 2em $spacing;

  @include headings() {
    font-family: $main-font-family;
    color: $sr-white;
    margin-bottom: 1.5em;
  }

  h4 {
    font-size: $golf;
  }

  p {
    margin-bottom: 0;
  }

  a {
    color: $footer-color;
    text-decoration: none;

    &:hover {
      color: $sr-white;
    }
  }
}

.social-media-links {
  font-size: $charlie;

  li {
    display: inline-block;
    margin: 0 0.2em;
  }
}

.sitemap {
  list-style: none;
  margin-bottom: 2em;

  li {
    margin: 0.5em 0;
  }
}
