@import "common";
@import "urls";

$hero-background-image: "#{$image-directory}/hero.jpg";
$hero-top-colour: transparentize($sr-blue, 0.05);
$hero-bottom-colour: transparentize($sr-blue, 0.2);

.hero {
  @include gradient-background($hero-top-colour, $hero-bottom-colour, $hero-background-image);
  padding: 0 $spacing;
}

.hero-container {
  padding: 4em 0;
  text-align: center;
  min-height: 28em;
}

.hero-homepage {
  padding: 9em 0;
}

.hero-text {
  @include headings() {
    font-family: $heading-font-family;
    font-size: 2.2em;
    color: $sr-white;
  }
}

.no-cta {
  @include headings() {
    margin-bottom: 0;
  }
}

.hero-homepage-button {
  padding: 0.5em 1.0em;
  background: $sr-white;
  border-color: $sr-white;
  color: $sr-blue;

  &:hover {
    border-color: $sr-orange;
    background: $sr-orange;
    opacity: 1.0;
  }
}