@import "common";
@import "urls";

$hero-background-image: "#{$image-directory}/hero.jpg";
$hero-top-colour: transparentize($sr-blue, 0.05);
$hero-bottom-colour: transparentize($sr-blue, 0.5);

.hero {
  @include gradient-background(
    $hero-top-colour,
    $hero-bottom-colour,
    $hero-background-image
  );
  padding: 0 $spacing;
}

.hero-container {
  padding: 4em 0;
  text-align: center;
  min-height: 28em;
}

.hero-homepage {
  padding: 9em 0;
}

.hero-text {
  @include headings() {
    font-family: $heading-font-family;
    color: $sr-white;
  }
  h1 {
    font-size: $beta;
  }
  h2{
    font-size: $charlie;
  }
}

.no-cta {
  @include headings() {
    margin-bottom: 0;
  }
}

.hero-homepage-button {
  background: $sr-white;
  border-color: $sr-white;
  color: $sr-blue;

  &:hover {
    border-color: $sr-orange;
    background: $sr-orange;
    opacity: 1;
  }
}
