.site-header {
  background: white;
  overflow: hidden;
  padding: 0 $spacing;
}

.logo {
  vertical-align: middle;
  width: initial;
}

.site-title {
  color: black;
  padding: 2px 0;
  font-family: $heading-font-family;
  font-weight: 400;
  float: left;
  font-size: 2.6em;
  text-decoration: none;

  // mobile-only
  width: 60px;
  overflow: hidden;

  // desktop-only
  @include media-query(medium) {
    width: initial;
    overflow: initial;
  }
}
