.article {
  overflow: hidden;

  h1 {
    font-size: $beta;
    margin-bottom: 0;
  }

  h2 {
    font-size: $charlie;
    margin: 2em 0 1em;
  }

  h3 {
    font-size: $delta;
    margin: 1em 0 .5em;
  }

  p {
    color: $sr-black;
    font-size: $echo;
    line-height: $beta;
    margin: $charlie 0;

    &.article-info {
      display: block;
      margin: 0;
      color: #9e9e9e;
      font-size: $foxtrot;
      margin: .1em 0;
    }
  }

  blockquote {
    position: relative;
    font-size: 1.1em;
    font-style: italic;
    padding: 0 20px 0 80px;
    quotes: "\201C" "\201D" "\2018" "\2019";

    &:before {
      position: absolute;
      left: 20px;
      top: 30px;
      content: "\201C";
      font-size: 2em;
      font-weight: bold;
      line-height: 0.1em;
    }

    @media (max-width: 800px) {
      padding: 0 20px;

      &:before {
        display: none;
      }
    }

    p {
      color: lighten($sr-black, 40%);
      display: inline;
    }
  }

  img {
    margin: 0;
  }

  iframe.video {
    background: white;
    border: 1px solid silver;
    padding: 3px;

    @include media-query('medium') {
      min-height: 480px;
    }
  }

  ul {
    margin: 1.2em 0 1.2em 40px;

    li {
      margin: 0.8em 0;
    }
  }
}

.article-header {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid $sr-grey;
}

.article-preview {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p, ul, ol {
    font-size: $foxtrot;
    line-height: $charlie;
  }
}

table {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 40%;

  @include media-query("medium") {
    width: auto;
  }

  th, td {
    padding: 0.5em;
  }

  thead {
    color: $sr-blue;
  }

  th {
    text-align: left;
    border-bottom: 2px solid $sr-blue;
  }

  tr {
    background: white;

    &:nth-child(even) {
      background: $sr-grey;
    }
  }
}

figure {
  img {
    border-radius: 3px;
    background-color: $sr-white;
    border: 1px solid darken($sr-grey, 10%);
    padding: 3px;
  }
}

figcaption {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
}

.small-image {
  height: auto;
  margin: 1.2em 0;
  width: 100%;

  @include media-query("medium") {
    width: 40%;
  }
}

.left {
  @extend .small-image;
  float: left;
  margin-right: 20px;
}

.right {
  @extend .small-image;
  clear: right;
  float: right;
  margin-left: 20px;
}

.footnotes ol {
  list-style: none;
}
