.splash-body {
  background: linear-gradient(0.25turn, #3270ed, #3ba9ff);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-logo {
  width: 50%;
}

.splash-text {
  color: white;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}