.testimonial {
  &-row {
    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }
  }

  &-avatar {
    border-radius: 50%;
    width: 15rem;
    @include media-query("medium") {
      width: 100%;
    }
  }
}

.testimonial-footer {
  @include heading;
}
