---
layout: page
title: Blog
---
<div class="header-card">
  <div class="fixed-width">
    <h1>Blog</h1>
  </div>
</div>
<div class="main">
  <div class="fixed-width">
    {% include paginator-buttons.html paginator=paginator %}
    {% for post in paginator.posts %}
    <div class="article article-preview card">
      <div class="article-header">
        <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
        <p class="article-info">Published {{ post.date | date: "%e %B, %Y" }}</p>
      </div>
      <div class="article-content">
        {{ post.content }}
      </div>
    </div>
    {% endfor %}
    {% include paginator-buttons.html paginator=paginator %}
  </div>
</div>
