.button {
  border: 2px solid $sr-blue;
  border-radius: 3px;
  color: $sr-blue;
  cursor: pointer;
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 1.0em 2.0em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  @include media-query(medium) {
    display: inline-block;
    margin-right: 10px;
  }

  &:hover {
    background: $sr-blue;
    color: $sr-white;
  }
}

.button-primary {
  background: $sr-blue;
  border-color: $sr-blue;
  color: $sr-white;

  &:hover {
    border-color: $sr-orange;
    background: $sr-orange;
    opacity: 1.0;
  }
}

.button-hero {
  border-color: $sr-white;
  color: $sr-white;
  opacity: 0.7;

  &:hover {
    background: transparent;
    opacity: 1.0;
  }
}

.button-expand {
  display: block;
  margin-right: 0;
}
