.card {
  border-top: 2px solid white;
  background: white;
  padding: 0.8em $spacing;
  margin-bottom: $mobile-spacing;

  @include media-query("medium") {
    margin-bottom: $spacing;
  }
}

.dark-card {
  background: $sr-light-grey;
}

.thin-card {
  padding: 0;
}

.highlight-card {
  border-top-color: $sr-blue;
}

.card-heading {
  color: $sr-dark-grey;
  font-family: $main-font-family;
  font-size: $echo;
  font-weight: bold;
  text-transform: uppercase;
}
