.form {
  input {
    &[type='email'] {
      border: 2px solid $sr-blue;
      border-radius: 3px;
      font-size: $charlie;
      padding: 12px;
      width: 100%;
    }

    &[type='submit'] {
      margin-right: 0;
    }

    &:focus {
      outline: 2px solid $focus-yellow;
    }

    margin-bottom: $spacing;
  }

  label {
    display: none;
  }
}
