.avatar {
  img {
    background-color: $sr-white;
    border: 1px solid darken($sr-light-grey, 10%);
    width: 100%;
    height: auto;
    padding: 3px;
  }

  p {
    font-size: $echo;
    color: #333333;
  }
}

.circle-image {
  border-radius: 50%;
}