p {
  margin: 0 0 1.5rem 0;
}

.text-subtext {
  color: $sr-dark-grey;
  font-size: $foxtrot;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}
