---
layout: page
---
<div class="main article-main">
  <div class="fixed-width">
    <div class="row">
      <div class="column m-9-12">
        <div class="article">
          <div class="article-header">
            <h1>{{ page.title }}</h1>
          </div>
          <div class="article-content">
            {{ content }}
          </div>
        </div>
      </div>
      <div class="column m-3-12">
        <h3 class="card-heading">Recent Posts</h3>
        <div class="card">
          <ul class="blog-post-list">
            {% for post in site.posts limit:5 %}
            <li>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <a class="button button-expand" href="{{ '/blog' | prepend: site.baseurl }}">Back to the blog</a>
      </div>
    </div>
  </div>
</div>
