---
layout: page
---
<div class="header-card">
  <div class="fixed-width">
    <h1>{{ page.title }}</h1>
  </div>
</div>
<div class="main">
  <div class="fixed-width">
    <div class="column l-4-12">
      <div class="card thin-card">
        <ul class="detail-list">
          <li>
            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
            {% comment %}
            {# Changing the format here? Also change the event page and the localise_times function #}
            {% endcomment %}
            {% assign date_only_format = '%e %B %Y <small style="opacity: 70%;">(time <abbr title="To be confirmed">TBC</abbr>)</small>' %}
            {% include datetime.html date_only_format=date_only_format datetime_format='%e %B %Y at %l%P' event=page %}
          </li>
          <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ page.location }}</li>
        </ul>
      </div>
    </div>
    <div class="column l-8-12">
      <div class="card">
        <div class="article article-preview">
          <div class="article-content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
