---
layout: default
---
<div class="hero">
  <div class="fixed-width">
    <a class="site-title" href="{{ site.baseurl }}/">
      <img class="logo desktop-only" src="{{ '/images/logo-text-white.png' | prepend: site.baseurl }}" alt="Student Robotics"/>
      <img class="logo mobile-only" src="{{ '/images/logo-white.png' | prepend: site.baseurl }}" alt="Student Robotics"/>
    </a>
    {% include navigation.html class="site-navigation home-navigation" %}
  </div>
  <div class="hero-container hero-homepage">
    <div class="fixed-width">
      <div class="hero-text">
        <h1>An annual robotics competition for young people aged 16-18</h1>
        <a class="button button-hero" href="{{ '/about' | prepend: site.baseurl }}">Learn more</a>
      </div>
    </div>
  </div>
</div>
{{ content }}
{% include footer.html %}
