---
layout: default
---
<div class="hero">
  <div class="fixed-width">
    <a class="site-title" href="{{ site.baseurl }}/">
      <img class="logo" src="{{ '/images/logo-text-white.png' | prepend: site.baseurl }}" alt="Student Robotics" />
    </a>
    {% include navigation.html class="site-navigation home-navigation" %}
  </div>
  <div class="hero-container hero-homepage">
    <div class="fixed-width">
      <div class="hero-text">
        <h1>An annual robotics competition for young people aged 16-19</h1>
        <h2>Inspiring the next generation of engineers</h2>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-thin latest-content">
  <div class="fixed-width">
    <div class="content">
      {% assign latest_post = site.posts.first %}
      <h4>Latest Post</h4>
      <a href="{{ latest_post.url | prepend: site.baseurl }}">{{latest_post.title }}</a>
      <div class="content-details">
        {{ latest_post.date | date: "%e %B, %Y" }}
      </div>
    </div>
    {% if site.show_competition_status %}
      <div class="content">
        <h4>Competition Status</h4>
        <a href="https://studentrobotics.org/comp/league">Leaderboard</a>
        <div class="content-details">
          after the Virtual League
        </div>
      </div>
    {% endif %}
    <div class="content">
      {% assign next_event = site.events | where_exp: "event", "event.date > site.time"
      | where_exp: "event", "event.cancelled != true" | first %}
      <h4>Next Event</h4>
      {% if next_event %}
        <a href="{{ next_event.url | prepend: site.baseurl }}">{{ next_event.title }}</a>
        <div class="content-details">
          {{ next_event.date | date: "%e %B, %Y" }}
        </div>
      {% else %}
        No upcoming events
        <br/>
        <a class="content-details" href="{{ '/events' | prepend: site.baseurl }}">View previous</a>
      {% endif %}
    </div>
  </div>
</div>
{{ content }}
{% include footer.html %}
