name: Validate

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  validate:
    runs-on: ubuntu-latest
    env:
      # ruby/setup-ruby@v1 does not offer a way to change the cached gems path.
      # See https://github.com/ruby/setup-ruby/issues/291
      GLOBAL_GEMS: 1
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        cache-version: 2

    - name: Build & Validate
      run: rake validate
